html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-width: 1080px;
  background-color: #fff;
  font-family: "Century Gothic", Calibri, Tahoma, sans-serif;
  font-size: 16px;
  color: #000;
}

h1, h2, h3, h4 {
  margin: 1em 0 0 0;
  padding: 0;
  font-family: Copperplate, Cambria, Georgia, serif;
  color: #000;
  font-weight: normal;
}

h3 {
  margin: 1.5em 0 0 0;
}

p {
  font-size: 1em;
  line-height: 1.65em;
  color: #000;
  margin: 0 0 1.65em 0;
  padding: 0;
}

pre {
  font-size: .9em;
  border: 1px solid #000000;
  background-color: #eeeeee;
  white-space: pre-wrap;
  padding: 1em;
}

header {
  margin: 0 5%;
  padding: 0;
}

header h1 {
  margin: 2% 0 0 0;
  padding: 0;
  font-family: Copperplate, Cambria, Georgia, serif;
  font-size: 3.25em;
  color: #ffcc33;
  display: inline;
  float: left;
}

footer {
  content: "";
  clear: both;
  display: table;
  margin: 1em 5% 1.25em 5%;
  padding: 0;
  background-color: #fff;
}

footer p {
  margin: 0;
  padding: 0;
  font-size: .8em;
}

.content {
  margin: 0 5%;
  padding: 0;
  content: "";
  clear: both;
  height: 90%;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #000000;
}

th {
  text-align: left;
  background-color: #dddddd;
}

td {
  min-width: 350px;
  padding: .25em;
}

.red {
  color: #ff0000;
}

.leftpad {
  padding-left: 1em;
}
